@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    list-style: none;
    color: white;
}
body{
    background-image: url('https://p4.wallpaperbetter.com/wallpaper/513/259/686/colors-galaxy-planets-space-wallpaper-preview.jpg' );
       
}